/.vs
.vs
CMakeFiles/
build/
build-*/
out/
lib/
Makefile
demo
bin/
CMakeCache.txt
x64-Debug
*.so
cmake_install.cmake
*.make
CTestTestfile.cmake
Testing/
*.o
*.a
*.dll
*.exe
.idea/
.vscode/
*.suo
*.user
*.json
